@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
	font-family: "JetBrains Mono", monospace;
	font-weight: 800;
}

body {
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
	background-color: rgb(43, 43 ,43);
	color: white;
}

h1 {
	font-weight: 900;
}

/* TITLE */
#title {
	text-align: center;
}

#titlecard {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}


/* LOGO */
.logo-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -55%);
}

#logo {
	max-width: 100%;
	max-height: 100%;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}


.flex-container {
	display: flex;
	height: 100vh;
}

.flex-item {
	padding: 20px;
}

#sidebar {
	background-color: #333;
	overflow-x: hidden;
  }

#content {
	margin-left: 200px;
	padding: 16px;
}

#addMoodleLinkButton {
  border-radius: 5px;
}

.flex-item:nth-child(1), .flex-item:nth-child(3) {
	flex: 1;
}

.flex-item:nth-child(2) {
	flex: 2;
}

button:hover {
	background-color: #777;
}

#center-title {
  text-align: center;
  color: darkcyan;
  margin: 20px 0;
  padding: 5px;
  font-size: 2em;
  font-weight: bolder;
  background-color: bisque;
  border-radius: 10px;
}

#timer {
  text-align: center;
  margin-top: 50px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 330px;
}

#time {
  font-size: 48px;
  font-weight: bold;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
}

#addMoodleLinkButton {
  font-weight: bold;
  background-color: #1E90FF;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property:box-shadow, transform;
}

.moodle-link {
  background-color: #f0f0f0;
  color: #007bff;
  margin: 8px, 0px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
  transition: background-color 0.3s, box-shadow 0.3s; 
}

#addMoodleLinkButton:hover, #addMoodleLinkButton:focus, #addMoodleLinkButton:active {
  box-sizing: 0 0 20px rbga(0, 0, 0, 0.5);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/* POMDORO */
#timer-buttons {
  height: 80px;
  justify-content: center;
  gap: 15px;
  margin-bottom: 5px;
}

.timer-button {
  width: 100px;
  text-align: center;
}

#custom-button {
  margin-top: 0px;
  text-align: center;
}

#pause-button {
  text-align: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: grey;
  width: 500px;
  max-width: 80%;
}

.modal.active{
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  height: auto;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.75rem;
  font-weight: bold;
  width: auto;
  margin: 0;
}

.modal-body {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}

#custom-modal-heading {
  margin-bottom: 500px;
}

#custom-modal-input {
  margin-bottom: 10px;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 200ms ease-in-out;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
  z-index: 9;
}
