body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282c34;
    color: white;
}

#title {
    text-align: center;
}

#quote-container {
    text-align: center;
}

#date {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#quote {
    font-size: 1.2em;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282c34;
    color: white;
}

.flex-container {
    display: flex;
    height: 100vh;
}

.flex-item {
    padding: 20px;
}

.flex-item:nth-child(1), .flex-item:nth-child(3) {
    flex: 1; 
}

.flex-item:nth-child(2) {
    flex: 2; 
}
