body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282c34;
    color: white;
}

#title {
    text-align: center;
}

#quote-container {
    text-align: center;
}

#date {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#quote {
    font-size: 1.2em;

}

.flex-container {
    display: flex; 
    height: 100vh; 
  }
  
.flex-item { 
    padding: 20px;
  }

.flex-item:nth-child(1), .flex-item:nth-child(3) {
  flex: 1; /* The first and third flex items (side columns) will take up 25% */
}

.flex-item:nth-child(2) {
  flex: 2; /* The second flex item (middle column) will take up 50% */
}
  
#sidebar {
    background-color: #333;
    overflow-x: hidden; 
  }

#todo {
    background-color: grey;
    overflow-x: hidden;
  }


#content {
    margin-left: 200px;
    padding: 16px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #555;
    color: white;
    border: none;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    background-color: #777;
}

#timer {
  text-align: center;
  margin-top: 50px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 330px;
}

#time {
  font-size: 48px;
  font-weight: bold;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
}

#timerButtons {
  height: 80px;
  justify-content: center;
  gap: 15px;
  margin-bottom: 5px;
}

.timerButton {
  width: 100px;
  text-align: center;
}

#customButton {
  margin-top: 0px;
  text-align: center;
}

#pauseButton {
  text-align: center;
}
