body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282c34;
    color: white;
}

#title {
    text-align: center;
}

#quote-container {
    text-align: center;
}

#date {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#quote {
    font-size: 1.2em;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282c34;
    color: white;
}

.flex-container {
    display: flex;
    height: 100vh;
}

.flex-item {
    padding: 20px;
}

.flex-item:nth-child(1), .flex-item:nth-child(3) {
    flex: 1; 
}

.flex-item:nth-child(2) {
    flex: 2; 
}

#sidebar, #todo {
    background-color: #333;
    overflow-x: hidden;
}

#todo {
    background-color: grey; 
}

.todo-container {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.todo-list {
    list-style: none;
    padding: 0;
}

.new-task-input {
    width: 100%;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    color: black;
    box-sizing: border-box;
    overflow-y: auto; 
    resize: none; 
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding: 10px;
}

.task-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.task-complete-checkbox {
    margin-right: 10px;
}

.delete-task-button {
    width: 20px;
    height: 20px;
    border: 2px solid #ff6666;
    background-color: transparent;
    color: #ff6666;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0;
    margin: 0px 0px 0px 10px;
    
}

.delete-task-button:hover {
    background-color: #ff6666;
    color: white;
}

button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
}

button:hover {
    background-color: #777;
}
